body,
html {
  height: 100%;
  background: #F9F9F9;
  -webkit-transition: all 0s ease-in-out;
  -moz-transition: all 0s ease-in-out;
  -o-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}
body,
a,
li,
ul,
header,
footer,
article,
div,
nav,
h1,
h2,
p,
button {
  margin: 0;
  list-style: none;
  padding: 0;
  color: inherit;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body:after,
a:after,
li:after,
ul:after,
header:after,
footer:after,
article:after,
div:after,
nav:after,
h1:after,
h2:after,
p:after,
button:after {
  content: " ";
  display: block;
  clear: both;
}
input[type=text],
input[type=password],
textarea {
  outline: none;
  border: 1px solid #F9F9F9;
  padding-left: 15px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 300;
}
input[type=text]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #cccccc;
}
input[type=text]:-moz-placeholder,
input[type=password]:-moz-placeholder,
textarea:-moz-placeholder {
  color: #cccccc;
}
input:focus,
textarea:focus {
  outline: none;
}
label {
  color: #666;
  font-size: 15px;
  font-weight: 300;
}
label span {
  color: #BBB;
  font-size: 11px;
}
.login .input {
  height: 50px;
  width: 100%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 20px 5px #efefef;
  -moz-box-shadow: 1px 1px 20px 5px #efefef;
  box-shadow: 1px 1px 20px 5px #efefef;
  behavior: url(../htc/pie.htc);
  zoom: 1;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  background: #FEFEFE;
  margin-top: 12px;
  margin-bottom: 20px;
  border: 1px solid #F1F1F1;
}
.login .input:hover {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-box-shadow: 1px 1px 20px 5px #e5e5e5;
  -moz-box-shadow: 1px 1px 20px 5px #e5e5e5;
  box-shadow: 1px 1px 20px 5px #e5e5e5;
  behavior: url(../htc/pie.htc);
  zoom: 1;
}
.login .input:focus,
.login .input:active {
  background: #FFF;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-box-shadow: 1px 1px 20px 5px #e1e1e1;
  -moz-box-shadow: 1px 1px 20px 5px #e1e1e1;
  box-shadow: 1px 1px 20px 5px #e1e1e1;
  behavior: url(../htc/pie.htc);
  zoom: 1;
}
.login .submit {
  height: 50px;
  width: 100%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 20px 5px #dddddd;
  -moz-box-shadow: 1px 1px 20px 5px #dddddd;
  box-shadow: 1px 1px 20px 5px #dddddd;
  behavior: url(../htc/pie.htc);
  zoom: 1;
  font-weight: 600;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  letter-spacing: 1px;
  background: #3498DB;
  border: 0;
  color: #FFF;
  margin-top: 7px;
  margin-bottom: 20px;
  text-align: center;
}
.login .submit:hover {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-box-shadow: 1px 1px 20px 5px #e5e5e5;
  -moz-box-shadow: 1px 1px 20px 5px #e5e5e5;
  box-shadow: 1px 1px 20px 5px #e5e5e5;
  behavior: url(../htc/pie.htc);
  zoom: 1;
  background: #328FCE;
}
.login .submit:focus,
.login .submit:active {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-box-shadow: 1px 1px 20px 5px #e1e1e1;
  -moz-box-shadow: 1px 1px 20px 5px #e1e1e1;
  box-shadow: 1px 1px 20px 5px #e1e1e1;
  behavior: url(../htc/pie.htc);
  zoom: 1;
}
.inputBox {
  margin-top: 10px;
  margin-bottom: 10px;
}
.inputBox .input {
  height: 50px;
  width: 100%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  behavior: url(../htc/pie.htc);
  zoom: 1;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  background-color: #F9F9F9;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #F1F1F1;
}
.inputBox .input:hover {
  background-color: #F9F9F9;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-box-shadow: 0px 0px 10px 2px #f9f9f9;
  -moz-box-shadow: 0px 0px 10px 2px #f9f9f9;
  box-shadow: 0px 0px 10px 2px #f9f9f9;
  behavior: url(../htc/pie.htc);
  zoom: 1;
}
.inputBox .input:focus,
.inputBox .input:active {
  background-color: #FFF;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-box-shadow: 0px 0px 10px 2px #f0f0f0;
  -moz-box-shadow: 0px 0px 10px 2px #f0f0f0;
  box-shadow: 0px 0px 10px 2px #f0f0f0;
  behavior: url(../htc/pie.htc);
  zoom: 1;
}
.inputBox .input.error {
  -webkit-box-shadow: 0px 0px 10px 2px #eeeeee;
  -moz-box-shadow: 0px 0px 10px 2px #eeeeee;
  box-shadow: 0px 0px 10px 2px #eeeeee;
  behavior: url(../htc/pie.htc);
  zoom: 1;
  border: 1px solid #BF3838;
  background-color: #FFEBEB;
}
.inputBox .textarea {
  height: 150px;
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
}
.divider {
  height: 1px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #F4F4F4;
}
body {
  font-size: 15px;
}
body,
a,
li,
ul,
header,
footer,
article,
div,
nav,
h1,
h2,
p {
  margin: 0;
  list-style: none;
  padding: 0;
  color: inherit;
  text-decoration: none;
}
.overlayMessage {
  position: fixed;
  height: 55px;
  width: 100%;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
  behavior: url(../htc/pie.htc);
  zoom: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 999999999;
  text-align: center;
  line-height: 55px;
  color: #FFF;
  top: -55px;
  visibility: hidden;
}
.overlayMessage p {
  font-weight: 600;
  font-size: 1.1em !important;
}
.overlayDisplay {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  top: 0px;
  visibility: visible;
}
.overlaySuccess {
  background-color: #27ae60;
}
.overlayError {
  background-color: #c0392b;
}
.login {
  position: relative;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  padding: 25px;
}
.login .blueCircle {
  height: 100%;
  width: 200%;
  min-height: 1000px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  background: #3497da;
  background: -webkit-linear-gradient(top, #3497da 0%, #1f497c 100%);
  background: -moz-linear-gradient(top, #3497da 0%, #1f497c 100%);
  background: -ms-linear-gradient(top, #3497da 0%, #1f497c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3497da), color-stop(100%, #1f497c));
  background: -o-linear-gradient(top, #3497da 0%, #1f497c 100%);
  background: linear-gradient(to bottom, #3497da 0%, #1f497c 100%);
  -pie-background: linear-gradient(#3497da, #1f497c);
  behavior: url(../htc/pie.htc);
  zoom: 1;
  float: left;
  left: -50%;
  top: -65%;
}
.login .loginContainer {
  height: 400px;
  width: 400px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  position: absolute;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
  behavior: url(../htc/pie.htc);
  zoom: 1;
  left: 50%;
  margin-left: -200px;
  top: 20%;
  padding: 25px;
  background-color: #FFF;
  z-index: 9999;
}
.login .loginContainer h1 {
  font-weight: 300;
  color: #318FCF;
  font-size: 18px;
  margin-bottom: 25px;
  padding-left: 10px;
}
.login .loginContainer .submit {
  font-size: 1em;
}
.login .loginContainer .forgetPassword {
  height: auto;
  width: 100%;
  font-weight: 300;
  color: #BBB;
  font-size: 11px;
  text-align: center;
}
.login .loginContainer .forgetPassword a {
  color: #3498DB;
}
nav.sidebar {
  height: 100%;
  width: 290px;
  position: fixed;
  background: #3497da;
  background: -webkit-linear-gradient(top, #3497da 0%, #2770a2 100%);
  background: -moz-linear-gradient(top, #3497da 0%, #2770a2 100%);
  background: -ms-linear-gradient(top, #3497da 0%, #2770a2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3497da), color-stop(100%, #2770a2));
  background: -o-linear-gradient(top, #3497da 0%, #2770a2 100%);
  background: linear-gradient(to bottom, #3497da 0%, #2770a2 100%);
  -pie-background: linear-gradient(#3497da, #2770a2);
  behavior: url(../htc/pie.htc);
  zoom: 1;
  overflow: hidden;
  z-index: 999;
}
nav.sidebar .logo {
  height: 70px;
  width: 100%;
  font-weight: 600;
  color: #FFF;
  font-size: 1.5em;
  text-align: center;
  line-height: 70px;
}
nav.sidebar .logo span {
  font-weight: 300;
}
nav.sidebar .divider {
  visibility: hidden;
}
nav.sidebar .openToggle {
  height: 40px;
  width: 40px;
  position: absolute;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  visibility: hidden;
  right: 10px;
  top: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  background-image: url(../assets/svg/menuButton.svg);
}
nav.sidebar .dividerCms {
  height: 1px;
  width: 70%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}
nav.sidebar .user {
  height: 160px;
  width: 100%;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
nav.sidebar .user .profilePic {
  height: 100px;
  width: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 25px 5px #2c80b9;
  -moz-box-shadow: 0px 0px 25px 5px #2c80b9;
  box-shadow: 0px 0px 25px 5px #2c80b9;
  behavior: url(../htc/pie.htc);
  zoom: 1;
  overflow: hidden;
  margin: 0px auto;
  border: 2px solid #337EB1;
  margin-bottom: 10px;
}
nav.sidebar .user .welcome {
  text-align: center;
  color: #FFF;
  font-weight: 300;
  font-size: 12px;
}
nav.sidebar .user .welcome .user {
  font-weight: 600;
  font-size: 14px;
}
nav.sidebar .navButton {
  height: 70px;
  width: 100%;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  font-size: 13px;
  color: #E0F0FA;
  overflow: hidden;
}
nav.sidebar .navButton a {
  height: 70px;
  width: 100%;
  font-weight: 600;
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  line-height: 70px;
  padding-left: 90px;
  font-size: 1.2em;
}
nav.sidebar .navButton a:before {
  height: 30px;
  width: 30px;
  position: absolute;
  -webkit-opacity: 0.8;
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
  filter: alpha(opacity=80);
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  left: 30px;
  top: 20px;
  content: ' ';
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
nav.sidebar .navButton a:hover,
nav.sidebar .navButton a:active {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #FFF;
}
nav.sidebar .navButton a:hover:before,
nav.sidebar .navButton a:active:before {
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
nav.sidebar .navButton:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #308DCC;
}
nav.sidebar .navButton .btnHome:before {
  background-image: url(../assets/svg/home.svg);
}
nav.sidebar .navButton .btnTracks:before {
  background-image: url(../assets/svg/tracks.svg);
}
nav.sidebar .navButton .btnAbout:before {
  background-image: url(../assets/svg/user.svg);
}
nav.sidebar .navButton .btnBlogs:before {
  background-image: url(../assets/svg/messages.svg);
}
nav.sidebar .navButton .btnCodes:before {
  background-image: url(../assets/svg/moneypig.svg);
}
nav.sidebar .navButton .btnLogout {
  -webkit-opacity: 0.2;
  -khtml-opacity: 0.2;
  -moz-opacity: 0.2;
  opacity: 0.2;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
  filter: alpha(opacity=20);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #000;
}
nav.sidebar .navButton .btnLogout:before {
  -webkit-opacity: 0.5;
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
  background-image: url(../assets/svg/exit.svg);
}
nav.sidebar .navButton .btnLogout:hover,
nav.sidebar .navButton .btnLogout:active {
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  color: #FFF;
}
nav.sidebar .navButton .btnLogout:hover:before,
nav.sidebar .navButton .btnLogout:active:before {
  -webkit-opacity: 0.3 !important;
  -khtml-opacity: 0.3 !important;
  -moz-opacity: 0.3 !important;
  opacity: 0.3 !important;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30) !important;
  filter: alpha(opacity=30) !important;
}
nav.sidebar .navButton.active {
  color: #FFF;
  background-color: #308DCC;
}
nav.sidebar .navButton.active a:before {
  -webkit-opacity: 1 !important;
  -khtml-opacity: 1 !important;
  -moz-opacity: 1 !important;
  opacity: 1 !important;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100) !important;
  filter: alpha(opacity=100) !important;
}
.container {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 330px;
  padding-right: 40px;
}
.container .titleSection {
  height: 120px;
  width: 100%;
  padding-top: 40px;
  margin-bottom: 40px;
}
.container .titleSection h2 {
  font-weight: 300;
  color: #95989A;
  font-size: 17px;
}
.container .titleSection h1 {
  font-weight: bolder;
  font-weight: 700;
  font-size: 35px;
  color: #308DCC;
}
.container .titleSection .cta {
  top: -40px;
}
.container .whiteSection {
  height: auto;
  width: 100%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  behavior: url(../htc/pie.htc);
  zoom: 1;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100px;
  padding: 30px;
  background: #FFF;
  border: 1px solid #F1F1F1;
}
.container .inputBox {
  margin-top: 10px;
  margin-bottom: 10px;
}
.container .inputBox .sectionDescription {
  color: #999;
  font-size: 0.9em;
  margin-top: 10px;
}
.container .inputBox .input {
  height: 50px;
  width: 100%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  behavior: url(../htc/pie.htc);
  zoom: 1;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  background-color: #F9F9F9;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #F1F1F1;
}
.container .inputBox .input:hover {
  background-color: #F9F9F9;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-box-shadow: 0px 0px 10px 2px #f9f9f9;
  -moz-box-shadow: 0px 0px 10px 2px #f9f9f9;
  box-shadow: 0px 0px 10px 2px #f9f9f9;
  behavior: url(../htc/pie.htc);
  zoom: 1;
}
.container .inputBox .input:focus,
.container .inputBox .input:active {
  background-color: #FFF;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-box-shadow: 0px 0px 10px 2px #f0f0f0;
  -moz-box-shadow: 0px 0px 10px 2px #f0f0f0;
  box-shadow: 0px 0px 10px 2px #f0f0f0;
  behavior: url(../htc/pie.htc);
  zoom: 1;
}
.container .inputBox .inputFile {
  height: 80px;
  position: relative;
  padding-top: 15px;
}
.container .inputBox .input.error {
  -webkit-box-shadow: 0px 0px 10px 2px #eeeeee;
  -moz-box-shadow: 0px 0px 10px 2px #eeeeee;
  box-shadow: 0px 0px 10px 2px #eeeeee;
  behavior: url(../htc/pie.htc);
  zoom: 1;
  border: 1px solid #BF3838;
  background-color: #FFEBEB;
}
.container .inputBox .textarea {
  height: 150px;
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
}
.container .itemsContainer {
  height: auto;
  width: 100%;
}
.container .itemsContainer:after {
  content: " ";
  display: block;
  clear: both;
}
.container .itemsContainer .itemBox {
  height: auto;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container .itemsContainer .itemBox:after {
  content: " ";
  display: block;
  clear: both;
}
.container .itemsContainer .itemBox .trackOrder {
  height: auto;
  width: 13%;
  float: left;
  font-weight: 600;
  padding: 12px 1px;
  text-align: center;
  font-size: 1.2em;
  color: #999;
}
.container .itemsContainer .itemBox .item {
  height: auto;
  width: 95%;
  float: left;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  behavior: url(../htc/pie.htc);
  zoom: 1;
  max-width: 900px;
  background-color: #F1F1F1;
  border: 1px solid #CCC;
}
.container .itemsContainer .itemBox .item:after {
  content: " ";
  display: block;
  clear: both;
}
.container .itemsContainer .itemBox .item .itemImage {
  height: 120px;
  width: 120px;
  float: left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  behavior: url(../htc/pie.htc);
  zoom: 1;
  background-color: #CCC;
  margin-right: 30px;
}
.container .itemsContainer .itemBox .item .title {
  height: 55px;
  width: 70%;
  float: left;
}
.container .itemsContainer .itemBox .item .selectContainer {
  height: 45px;
  width: 30%;
  max-width: 200px;
  position: relative;
  float: right;
  background-color: #000;
}
.container .tracksList {
  padding-bottom: 10px;
}
.container .tracksList .itemBox .item {
  max-width: 1000px;
  float: none;
  margin: 0 auto;
  padding: 15px;
  padding-left: 20px;
}
.container .tracksList .itemBox .item:after {
  content: " ";
  display: block;
  clear: both;
}
.container .tracksList .itemBox .item .itemImage {
  height: 120px;
  width: 120px;
  float: left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  behavior: url(../htc/pie.htc);
  zoom: 1;
  background-color: #CCC;
  margin-right: 30px;
}
.container .tracksList .itemBox .item .itemInfos {
  height: auto;
  width: 50%;
  float: left;
}
.container .tracksList .itemBox .item .itemInfos .title {
  height: auto;
  width: 100%;
  font-weight: 600;
  font-size: 1.3em;
  line-height: 30px;
  margin-bottom: 10px;
}
.container .tracksList .itemBox .item .itemInfos .duration {
  height: auto;
  width: 100%;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 2px;
  font-size: 0.9em;
}
.container .tracksList .itemBox .item .itemInfos .keywords {
  height: auto;
  width: 100%;
  font-weight: 300;
  font-size: 0.9em;
}
.container .tracksList .itemBox .item .itemInfos .description {
  height: auto;
  width: 100%;
  font-weight: 300;
  max-height: 54px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 10px;
  font-size: 0.9em;
}
.container .tracksList .itemBox .item .itemInfos span {
  font-weight: 600;
}
.js .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  max-width: 80%;
  font-size: 1.25rem;
  /* 20px */
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  /* 10px 20px */
}
.no-js .inputfile + label {
  display: none;
}
.inputfile:focus + label,
.inputfile.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label * {
  /* pointer-events: none; */
  /* in case of FastClick lib use */
}
.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  /* 4px */
  margin-right: 0.25em;
  /* 4px */
}
.inputfile-6 + label {
  position: absolute;
  left: 0px;
  color: #d3394c;
}
.inputfile-6 + label {
  border: 1px solid #308DCC;
  background-color: #d5e6f2;
  padding: 0;
}
.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
  border-color: #2771A3;
}
.inputfile-6 + label span,
.inputfile-6 + label strong {
  padding: 0.625rem 1.25rem;
  /* 10px 20px */
}
.inputfile-6 + label span {
  width: 200px;
  height: 45px;
  line-height: 25px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;
  font-weight: 300;
  font-size: 0.8em;
  color: #333;
}
.inputfile-6 + label strong {
  height: 45px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 600;
  color: #FFF;
  font-size: 0.8em;
  background-color: #308DCC;
  display: inline-block;
}
.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {
  background-color: #2771A3;
  color: #FFF;
}
@media screen and (max-width: 50em) {
  .inputfile-6 + label strong {
    display: block;
  }
}
.formError {
  border: 1px solid rgba(204, 9, 57, 0.4) !important;
  background-color: rgba(204, 9, 57, 0.05) !important;
  color: #333;
}
.cta {
  float: right;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  behavior: url(../htc/pie.htc);
  zoom: 1;
  font-weight: 600;
  position: relative;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border: none;
  padding: 13px 20px;
  padding-left: 60px;
  background-color: #3498DB;
  color: #FFF;
  background-position: 12% 52%;
  background-size: 20px;
  background-repeat: no-repeat;
  font-size: 1.1em;
  top: 0px;
}
.cta:hover,
.cta:active {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  background-color: #2D8ED0;
  cursor: pointer;
}
.editBtn {
  -webkit-opacity: 0.6;
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
  filter: alpha(opacity=60);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  top: 40px;
  margin-right: 12px;
  padding-left: 16px;
}
.editBtn:hover,
.editBtn:active {
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.newpost {
  background-image: url(../assets/svg/messages.svg);
}
.newTrack {
  background-image: url(../assets/svg/tracks.svg);
}
.discountCodes {
  background-image: url(../assets/svg/moneypig.svg);
}
@media (max-width: 1000px) {
  .itemBox .cta {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -o-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    float: right;
    max-width: 70px;
    right: -25px;
    top: 120px;
  }
}
@media (max-width: 900px) {
  .container {
    padding-top: 80px;
    padding-left: 40px;
  }
  nav.sidebar {
    height: auto;
    width: 100%;
    max-height: 70px;
    position: fixed;
    -webkit-transition: all 0 ease-in-out;
    -moz-transition: all 0 ease-in-out;
    -o-transition: all 0 ease-in-out;
    transition: all 0 ease-in-out;
    background: #3497da;
    background: -webkit-linear-gradient(top, #3497da 0%, #2770a2 100%);
    background: -moz-linear-gradient(top, #3497da 0%, #2770a2 100%);
    background: -ms-linear-gradient(top, #3497da 0%, #2770a2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3497da), color-stop(100%, #2770a2));
    background: -o-linear-gradient(top, #3497da 0%, #2770a2 100%);
    background: linear-gradient(to bottom, #3497da 0%, #2770a2 100%);
    -pie-background: linear-gradient(#3497da, #2770a2);
    behavior: url(../htc/pie.htc);
    zoom: 1;
    overflow-y: hidden;
    top: 0px;
    z-index: 999;
  }
  nav.sidebar .openToggle {
    visibility: visible;
  }
  nav.sidebar .user {
    padding-top: 10px;
  }
  nav.sidebar .divider {
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    visibility: visible;
  }
  nav.sidebar .logo {
    text-align: left;
    padding-left: 25px;
  }
  nav.sidebar .buttonsContainer {
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    top: -200px;
  }
  nav.sidebar .buttonsContainer .user {
    -webkit-transition: all 0 ease-in-out !important;
    -moz-transition: all 0 ease-in-out !important;
    -o-transition: all 0 ease-in-out !important;
    transition: all 0 ease-in-out !important;
  }
  nav.open {
    display: inline-block;
    vertical-align: top;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
    behavior: url(../htc/pie.htc);
    zoom: 1;
    min-height: 70px;
    height: auto;
    max-height: 1000px;
  }
  nav.open:after {
    content: " ";
    display: block;
    clear: both;
  }
  nav.open .openToggle {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    top: 15px;
  }
  nav.open .buttonsContainer {
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin-top: 0;
  }
  nav.open .buttonsContainer .user {
    height: 100px;
    width: 100%;
    -webkit-transition: all 0 ease-in-out !important;
    -moz-transition: all 0 ease-in-out !important;
    -o-transition: all 0 ease-in-out !important;
    transition: all 0 ease-in-out !important;
  }
  nav.open .buttonsContainer .user .profilePic {
    height: 80px;
    width: 80px;
    float: left;
    margin-left: 25px;
    margin-right: 20px;
  }
  nav.open .buttonsContainer .user .welcome {
    float: left;
    font-size: 1em;
    text-align: left;
    margin-top: 20px;
  }
  .itemBox .cta {
    height: 45px;
    width: 140%;
    position: relative;
    margin: 0 auto;
    max-width: 1000px;
    top: 15px;
    margin-bottom: 20px;
    text-align: center;
    float: left;
    left: -100px;
  }
  .cta {
    height: 45px;
    width: 100%;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    behavior: url(../htc/pie.htc);
    zoom: 1;
    font-weight: 600;
    position: relative;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    border: none;
    background-position: 12% 52%;
    background-size: 20px;
    background-repeat: no-repeat;
  }
  .cta:hover,
  .cta:active {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    background-color: #2D8ED0;
    cursor: pointer;
  }
}
