body,
html {
  height: 100%;
  background: #F9F9F9;
  -webkit-transition: all 0s ease-in-out;
  -moz-transition: all 0s ease-in-out;
  -o-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}
body,
a,
li,
ul,
header,
footer,
article,
div,
nav,
h1,
h2,
p,
button {
  margin: 0;
  list-style: none;
  padding: 0;
  color: inherit;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body:after,
a:after,
li:after,
ul:after,
header:after,
footer:after,
article:after,
div:after,
nav:after,
h1:after,
h2:after,
p:after,
button:after {
  content: " ";
  display: block;
  clear: both;
}
input[type=text],
input[type=password],
textarea {
  outline: none;
  border: 1px solid #F9F9F9;
  padding-left: 15px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 300;
}
input[type=text]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #cccccc;
}
input[type=text]:-moz-placeholder,
input[type=password]:-moz-placeholder,
textarea:-moz-placeholder {
  color: #cccccc;
}
input:focus,
textarea:focus {
  outline: none;
}
label {
  color: #666;
  font-size: 15px;
  font-weight: 300;
}
label span {
  color: #BBB;
  font-size: 11px;
}
.login .input {
  height: 50px;
  width: 100%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 20px 5px #efefef;
  -moz-box-shadow: 1px 1px 20px 5px #efefef;
  box-shadow: 1px 1px 20px 5px #efefef;
  behavior: url(../htc/pie.htc);
  zoom: 1;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  background: #FEFEFE;
  margin-top: 12px;
  margin-bottom: 20px;
  border: 1px solid #F1F1F1;
}
.login .input:hover {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-box-shadow: 1px 1px 20px 5px #e5e5e5;
  -moz-box-shadow: 1px 1px 20px 5px #e5e5e5;
  box-shadow: 1px 1px 20px 5px #e5e5e5;
  behavior: url(../htc/pie.htc);
  zoom: 1;
}
.login .input:focus,
.login .input:active {
  background: #FFF;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-box-shadow: 1px 1px 20px 5px #e1e1e1;
  -moz-box-shadow: 1px 1px 20px 5px #e1e1e1;
  box-shadow: 1px 1px 20px 5px #e1e1e1;
  behavior: url(../htc/pie.htc);
  zoom: 1;
}
.login .submit {
  height: 50px;
  width: 100%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 20px 5px #dddddd;
  -moz-box-shadow: 1px 1px 20px 5px #dddddd;
  box-shadow: 1px 1px 20px 5px #dddddd;
  behavior: url(../htc/pie.htc);
  zoom: 1;
  font-weight: 600;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  letter-spacing: 1px;
  background: #3498DB;
  border: 0;
  color: #FFF;
  margin-top: 7px;
  margin-bottom: 20px;
  text-align: center;
}
.login .submit:hover {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-box-shadow: 1px 1px 20px 5px #e5e5e5;
  -moz-box-shadow: 1px 1px 20px 5px #e5e5e5;
  box-shadow: 1px 1px 20px 5px #e5e5e5;
  behavior: url(../htc/pie.htc);
  zoom: 1;
  background: #328FCE;
}
.login .submit:focus,
.login .submit:active {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-box-shadow: 1px 1px 20px 5px #e1e1e1;
  -moz-box-shadow: 1px 1px 20px 5px #e1e1e1;
  box-shadow: 1px 1px 20px 5px #e1e1e1;
  behavior: url(../htc/pie.htc);
  zoom: 1;
}
.inputBox {
  margin-top: 10px;
  margin-bottom: 10px;
}
.inputBox .input {
  height: 50px;
  width: 100%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  behavior: url(../htc/pie.htc);
  zoom: 1;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  background-color: #F9F9F9;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #F1F1F1;
}
.inputBox .input:hover {
  background-color: #F9F9F9;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-box-shadow: 0px 0px 10px 2px #f9f9f9;
  -moz-box-shadow: 0px 0px 10px 2px #f9f9f9;
  box-shadow: 0px 0px 10px 2px #f9f9f9;
  behavior: url(../htc/pie.htc);
  zoom: 1;
}
.inputBox .input:focus,
.inputBox .input:active {
  background-color: #FFF;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-box-shadow: 0px 0px 10px 2px #f0f0f0;
  -moz-box-shadow: 0px 0px 10px 2px #f0f0f0;
  box-shadow: 0px 0px 10px 2px #f0f0f0;
  behavior: url(../htc/pie.htc);
  zoom: 1;
}
.inputBox .input.error {
  -webkit-box-shadow: 0px 0px 10px 2px #eeeeee;
  -moz-box-shadow: 0px 0px 10px 2px #eeeeee;
  box-shadow: 0px 0px 10px 2px #eeeeee;
  behavior: url(../htc/pie.htc);
  zoom: 1;
  border: 1px solid #BF3838;
  background-color: #FFEBEB;
}
.inputBox .textarea {
  height: 150px;
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
}
.divider {
  height: 1px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #F4F4F4;
}
body {
  background: none;
}
.header {
  height: 100px;
  width: 100%;
  position: relative;
}
.header .mainNav {
  padding-top: 25px;
}
.header .mainNav li {
  display: inline-block;
  vertical-align: top;
  float: left;
}
.header .mainNav .openToggle {
  height: 40px;
  width: 40px;
  position: absolute;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  visibility: hidden;
  right: 10px;
  top: 15px;
  background-repeat: no-repeat;
  background-size: 70% 100%;
  background-position: 50% 50%;
  background-image: url(../assets/svg/menuButton.svg);
  background-color: #444;
  padding: 4px;
}
.header .mainNav .leftNav {
  height: auto;
  width: 450px;
  float: left;
}
.header .mainNav .leftNav:after {
  content: " ";
  display: block;
  clear: both;
}
.header .mainNav .leftNav .logo {
  height: auto;
  width: 200px;
  display: inline-block;
  vertical-align: top;
  float: left;
}
.header .mainNav .leftNav .logo p {
  font-size: 1.6em;
  font-weight: 600;
  color: #111;
}
.header .mainNav .leftNav .logo span {
  color: #CCC;
}
.header .mainNav .leftNav .slogan {
  font-weight: 300;
  float: left;
  line-height: .8em;
  font-size: .9em;
}
.header .mainNav .rightNav {
  height: auto;
  width: 410px;
  float: right;
}
.header .mainNav .rightNav .navLinks {
  float: right;
}
.header .mainNav .rightNav .navLinks .navBtn {
  position: relative;
  font-size: 1.3em;
  margin-right: 40px;
}
.header .mainNav .rightNav .navLinks .navBtn:before {
  height: 2px;
  width: 15px;
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  bottom: -8px;
  background-color: #000;
  content: ' ';
}
.header .mainNav .rightNav .navLinks .navBtn:hover:before,
.header .mainNav .rightNav .navLinks .navBtn:active:before {
  height: 2px;
  width: 50px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.header .mainNav .rightNav .navIcons {
  display: none;
  float: right;
}
.header .mainNav .rightNav .navIcons .shoppingCart {
  height: 30px;
  width: 30px;
  display: inline-block;
  vertical-align: top;
  background-color: #CCC;
}
.header .mainNav .rightNav .navIcons .search {
  height: 30px;
  width: 30px;
  display: inline-block;
  vertical-align: top;
  background-color: #CCC;
}
.footer {
  height: 90px;
  width: 100%;
  padding-bottom: 20px;
}
.footer:after {
  content: " ";
  display: block;
  clear: both;
}
.footer .logo {
  float: left;
}
.footer .logo .mfp {
  font-weight: bolder;
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 7px;
}
.footer .logo .slogan {
  font-size: 1.1em;
}
.footer .socialMedia {
  height: auto;
  width: 120px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.footer .socialMedia:after {
  content: " ";
  display: block;
  clear: both;
}
.footer .socialMedia .socialBtn {
  height: 30px;
  width: 30px;
  float: left;
  margin-right: 15px;
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.footer .socialMedia .facebook {
  background-image: url(../assets/svg/social-media-facebook.svg);
}
.footer .socialMedia .instagram {
  background-image: url(../assets/svg/social-media-instagram.svg);
}
.footer .socialMedia .twitter {
  background-image: url(../assets/svg/social-media-twitter.svg);
  margin-right: 0;
}
.footer .copyright {
  float: right;
  text-align: right;
  font-size: 1.2em;
}
.container {
  height: auto;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}
.greyBackground {
  height: 1000px;
  width: 80%;
  position: absolute;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.06);
  behavior: url(../htc/pie.htc);
  zoom: 1;
  z-index: -1;
  margin: 0 auto;
  left: 0;
  right: 0;
  max-width: 1000px;
  top: 0;
  background-color: #F1F1F1;
}
.darkBlueBackground {
  height: 600px;
  width: 80%;
  position: absolute;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.06);
  behavior: url(../htc/pie.htc);
  zoom: 1;
  z-index: -1;
  margin: 0 auto;
  left: 0;
  right: 0;
  max-width: 1000px;
  top: 0;
  background-color: #4C5A61;
}
.cta {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  behavior: url(../htc/pie.htc);
  zoom: 1;
  display: inline-block;
  vertical-align: top;
  font-weight: 600;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  padding: 10px 35px;
  font-size: 1.2em;
  text-transform: uppercase;
  cursor: pointer;
}
.cta:hover,
.cta:active {
  -webkit-box-shadow: 0px 10px 25px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 10px 25px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 10px 25px 5px rgba(0, 0, 0, 0.25);
  behavior: url(../htc/pie.htc);
  zoom: 1;
}
.blackCta {
  border: 2px solid #000;
  color: #000;
}
.blackCta:hover,
.blackCta:active {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #FFF;
  background-color: #000;
}
.whiteCta {
  border: 2px solid #FFF;
  color: #FFF;
}
.whiteCta:hover,
.whiteCta:active {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #000;
  background-color: #FFF;
}
.sectionTitle {
  height: auto;
  width: 100%;
  margin-bottom: 70px;
}
.sectionTitle .titleh1 {
  font-weight: bolder;
  font-weight: 700;
  color: #FFF;
  font-size: 3em;
  letter-spacing: 2px;
}
.sectionTitle .line {
  height: 5px;
  width: 80px;
  background-color: #FFF;
  margin-bottom: 20px;
  margin-top: 20px;
}
.sectionTitle .sectionText {
  font-weight: 300;
  font-size: 1.1em;
  color: #FFF;
}
.sectionTitle .author-date {
  font-size: .8em;
}
.sectionTitle .author-date span {
  margin-left: 0px;
  padding-right: 10px;
  border-right: 1px solid #999;
}
.sectionTitle .author-date span:last-child {
  border: none;
  margin-left: 10px;
}
.mainSection {
  height: 1000px;
  width: 100%;
  position: relative;
  z-index: 2;
}
.mainSection:after {
  content: " ";
  display: block;
  clear: both;
}
.mainSection .featured {
  height: 600px;
  width: 100%;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 0 auto;
}
.mainSection .featured .showing {
  left: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-opacity: 1 !important;
  -khtml-opacity: 1 !important;
  -moz-opacity: 1 !important;
  opacity: 1 !important;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100) !important;
  filter: alpha(opacity=100) !important;
}
.mainSection .featured .featuredTrack {
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  position: absolute;
  z-index: 1;
}
.mainSection .featured .featuredTrack:after {
  content: " ";
  display: block;
  clear: both;
}
.mainSection .featured .featuredTrack .trackImage {
  height: 450px;
  width: 550px;
  position: relative;
  float: left;
  -webkit-box-shadow: 0px 10px 18px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 10px 18px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 18px 5px rgba(0, 0, 0, 0.1);
  behavior: url(../htc/pie.htc);
  zoom: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-right: 170px;
  top: 50px;
  left: 0px;
  background-color: #000;
}
.mainSection .featured .featuredTrack .trackImage img {
  height: 100%;
  width: 100%;
  z-index: 1;
  -webkit-opacity: 0.7;
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  filter: alpha(opacity=70);
}
.mainSection .featured .featuredTrack .trackImage:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0px 18px 28px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 18px 28px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 18px 28px 5px rgba(0, 0, 0, 0.15);
  behavior: url(../htc/pie.htc);
  zoom: 1;
}
.mainSection .featured .featuredTrack .trackImage .playBtn {
  height: 250px;
  width: 250px;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 0;
  right: -210px;
  top: 120px;
  border: none;
}
.mainSection .featured .featuredTrack .trackImage .playBtn .centralCircle {
  height: 76px;
  width: 76px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  behavior: url(../htc/pie.htc);
  zoom: 1;
  position: absolute;
  top: 85px;
  left: 85px;
  z-index: 0;
  background-color: #000;
}
.mainSection .featured .featuredTrack .trackImage .playBtn .smallerCircle {
  height: 150px;
  width: 150px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  behavior: url(../htc/pie.htc);
  zoom: 1;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: -1;
  top: 50px;
  left: 50px;
  content: ' ';
  background-color: rgba(59, 153, 216, 0.3);
}
.mainSection .featured .featuredTrack .trackImage .playBtn .biggerCircle {
  height: 250px;
  width: 250px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  behavior: url(../htc/pie.htc);
  zoom: 1;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: -2;
  top: 0px;
  left: 0px;
  content: ' ';
  background-color: rgba(59, 153, 216, 0.3);
}
.mainSection .featured .featuredTrack .trackImage .playBtn:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.mainSection .featured .featuredTrack .trackImage .playBtn:hover .smallerCircle,
.mainSection .featured .featuredTrack .trackImage .playBtn:hover .biggerCircle {
  -webkit-transform: scale(0.72);
  -moz-transform: scale(0.72);
  -o-transform: scale(0.72);
  -ms-transform: scale(0.72);
  transform: scale(0.72);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.mainSection .featured .featuredTrack .trackInfo {
  height: auto;
  width: 330px;
  float: left;
  margin-top: 150px;
}
.mainSection .featured .featuredTrack .trackInfo:after {
  content: " ";
  display: block;
  clear: both;
}
.mainSection .featured .featuredTrack .trackInfo .trackTag {
  font-weight: 600;
  color: #333;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.mainSection .featured .featuredTrack .trackInfo .trackTitle {
  font-weight: 600;
  font-size: 1.8em;
  margin-top: 15px;
  margin-bottom: 15px;
}
.mainSection .featured .featuredTrack .trackInfo .trackDescription {
  font-size: 1.1em;
  line-height: 1.4em;
  margin-bottom: 25px;
}
.mainSection .featured .bullets {
  height: auto;
  width: 200px;
  position: absolute;
  bottom: 120px;
  right: 220px;
}
.mainSection .featured .bullets:after {
  content: " ";
  display: block;
  clear: both;
}
.mainSection .featured .bullets .bullet {
  width: 15px;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.25em;
  text-align: center;
  cursor: pointer;
}
.mainSection .featured .bullets .bullet:before {
  height: 2px;
  width: 0px;
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  left: 50%;
  margin-left: -6px;
  bottom: -10px;
  background-color: #000;
  content: ' ';
  cursor: pointer;
}
.mainSection .featured .bullets .bullet:hover:before,
.mainSection .featured .bullets .bullet:active:before {
  height: 2px;
  width: 12px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.mainSection .featured .bullets .active:before {
  height: 2px;
  width: 12px;
  position: absolute;
  bottom: -10px;
  background-color: #000;
  content: ' ';
}
.mainSection .about {
  height: auto;
  width: 80%;
  position: relative;
  padding-left: 10%;
  margin: 0 auto;
}
.mainSection .about:after {
  content: " ";
  display: block;
  clear: both;
}
.mainSection .about .sectionTitle {
  height: auto;
  width: 500px;
  float: left;
}
.mainSection .about .sectionTitle:after {
  content: " ";
  display: block;
  clear: both;
}
.mainSection .about .sectionTitle .titleh1 {
  color: #111;
}
.mainSection .about .sectionTitle .line {
  background-color: #111;
}
.mainSection .about .sectionTitle .sectionText {
  height: auto;
  width: 400px;
  float: left;
  font-weight: 300;
  line-height: 1.5em;
  font-size: 1.3em;
  margin-top: 5px;
  color: #666;
}
.mainSection .about .sectionTitle .blackCta {
  position: relative;
  float: left;
  margin-top: 25px;
  left: 0;
  bottom: 0;
}
.mainSection .about .aboutPic {
  height: 400px;
  width: 500px;
  position: absolute;
  -webkit-box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.25);
  behavior: url(../htc/pie.htc);
  zoom: 1;
  right: -40px;
  bottom: -100px;
  background-color: #CCC;
  overflow: hidden;
}
.freeTrack {
  height: auto;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}
.freeTrack .sectionTitle {
  max-width: 500px;
  float: left;
  margin-right: 70px;
}
.freeTrack .inputHome {
  height: 60px;
  width: 500px;
  position: relative;
  float: right;
  max-width: 500px;
  margin-top: 90px;
}
.freeTrack .inputHome .input {
  height: 60px;
  width: 100%;
  font-weight: 300;
  -webkit-box-shadow: 0px 25px 45px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 25px 45px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 25px 45px 5px rgba(0, 0, 0, 0.1);
  behavior: url(../htc/pie.htc);
  zoom: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: none;
  border: 1px solid #FFF;
  line-height: 50px;
  font-size: 1.4em;
  color: #FFF;
  font-size: 100;
}
.freeTrack .inputHome .input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.freeTrack .inputHome .input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.freeTrack .inputHome .input:focus {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0px 25px 45px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 25px 45px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 25px 45px 5px rgba(0, 0, 0, 0.2);
  behavior: url(../htc/pie.htc);
  zoom: 1;
}
.freeTrack .inputHome .homeSubmit {
  position: absolute;
  font-weight: 300;
  letter-spacing: 1.5px;
  height: 60px;
  border: 0;
  padding: 0 25px;
  background-color: #FFF;
  color: #ACBECD;
  text-align: center;
  font-size: 1.2em;
  right: 0;
  cursor: pointer;
  top: 0;
}
.musicPage:after {
  content: " ";
  display: block;
  clear: both;
}
.musicPage .track {
  position: relative;
  margin-bottom: 50px;
}
.musicPage .track:after {
  content: " ";
  display: block;
  clear: both;
}
.musicPage .track .trackImg {
  height: 320px;
  width: 320px;
  float: left;
  position: relative;
  -webkit-box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.25);
  behavior: url(../htc/pie.htc);
  zoom: 1;
  margin-left: -40px;
  margin-right: 80px;
}
.musicPage .track .trackImg .playButton {
  -webkit-opacity: 0 !important;
  -khtml-opacity: 0 !important;
  -moz-opacity: 0 !important;
  opacity: 0 !important;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0) !important;
  filter: alpha(opacity=0) !important;
}
.musicPage .track .trackImg .overlayImg {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  top: 0;
  left: 0;
}
.musicPage .track .trackImg .priceBox {
  height: 80px;
  width: 85px;
  position: absolute;
  -webkit-box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.25);
  text-align: center;
  right: -42px;
  top: 120px;
  z-index: 9999;
  background: #6f879e;
  background: -webkit-linear-gradient(top, #6f879e 0%, #3d6d94 100%);
  background: -moz-linear-gradient(top, #6f879e 0%, #3d6d94 100%);
  background: -ms-linear-gradient(top, #6f879e 0%, #3d6d94 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6f879e), color-stop(100%, #3d6d94));
  background: -o-linear-gradient(top, #6f879e 0%, #3d6d94 100%);
  background: linear-gradient(to bottom, #6f879e 0%, #3d6d94 100%);
  -pie-background: linear-gradient(#6f879e, #3d6d94);
  behavior: url(../htc/pie.htc);
  zoom: 1;
  color: #FFF;
  padding-top: 7px;
}
.musicPage .track .trackImg .priceBox .price {
  height: auto;
  width: 100%;
  font-weight: 600;
  font-size: 2.25em;
}
.musicPage .track .trackImg .priceBox .price span {
  font-weight: 300;
  font-size: .6em;
}
.musicPage .track .trackImg .priceBox .aud {
  height: auto;
  width: 100%;
  text-transform: uppercase;
  font-size: 1em;
}
.musicPage .track .trackInfo {
  height: auto;
  width: 60%;
  float: left;
  padding-top: 40px;
}
.musicPage .track .trackInfo:after {
  content: " ";
  display: block;
  clear: both;
}
.musicPage .track .trackInfo .trackTags {
  font-size: .85em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.musicPage .track .trackInfo .trackTags span {
  float: left;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-right: 15px;
  color: #AAA;
}
.musicPage .track .trackInfo .trackTags span:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #333;
}
.musicPage .track .trackInfo .trackDuration {
  font-weight: 300;
  font-size: 1.1em;
  color: #666;
  margin-bottom: 10px;
}
.musicPage .track .trackInfo .trackDuration .trackBpm {
  font-weight: 300;
  margin-left: 15px;
  font-size: 1em;
  color: #999;
}
.musicPage .track .trackInfo .trackTitle {
  font-weight: bolder;
  font-weight: 700;
  font-size: 2.2em;
  color: #111;
  margin-bottom: 15px;
  margin-right: 20px;
}
.musicPage .track .trackInfo .trackDescription {
  padding-right: 100px;
  margin-bottom: 30px;
  line-height: 1.6em;
}
.musicPage .track .trackInfo .cta {
  float: left;
  margin-right: 20px;
}
.musicPage .track .trackInfo .trackQuantity {
  height: auto;
  width: 200px;
  position: relative;
}
.musicPage .track .trackInfo .trackQuantity:after {
  content: " ";
  display: block;
  clear: both;
}
.musicPage .track .trackInfo .trackQuantity p {
  font-weight: 600;
  font-size: 1em;
  text-align: center;
}
.musicPage .track .trackInfo .trackQuantity .add,
.musicPage .track .trackInfo .trackQuantity .remove {
  height: 28px;
  width: 28px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  behavior: url(../htc/pie.htc);
  zoom: 1;
  position: absolute;
  right: -58px;
  line-height: 22px;
  text-align: center;
  padding: 0;
}
.musicPage .track .trackInfo .trackQuantity .add {
  top: -10px;
}
.musicPage .track .trackInfo .trackQuantity .remove {
  bottom: -10px;
}
.musicPage .track .trackInfo .listening {
  background-color: #000;
  color: #FFF;
}
.musicPage .track .price {
  font-size: 1em;
}
.musicPage .track .aud {
  font-size: .7em;
}
.musicPage .divider {
  height: 3px;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.05);
  margin-top: 50px;
  margin-bottom: 50px;
}
.musicPage .divider:after {
  content: " ";
  display: block;
  clear: both;
}
.cartPage:after {
  content: " ";
  display: block;
  clear: both;
}
.cartPage .track {
  position: relative;
}
.cartPage .track:after {
  content: " ";
  display: block;
  clear: both;
}
.cartPage .track .trackImg {
  height: 320px;
  width: 320px;
  float: left;
  position: relative;
  -webkit-box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.25);
  behavior: url(../htc/pie.htc);
  zoom: 1;
  margin-left: -100px;
  margin-right: 80px;
}
.cartPage .track .trackImg .playButton {
  -webkit-opacity: 0 !important;
  -khtml-opacity: 0 !important;
  -moz-opacity: 0 !important;
  opacity: 0 !important;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0) !important;
  filter: alpha(opacity=0) !important;
}
.cartPage .track .trackImg .overlayImg {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  top: 0;
  left: 0;
}
.cartPage .track .trackImg .priceBox {
  height: 80px;
  width: 85px;
  position: absolute;
  -webkit-box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.25);
  text-align: center;
  right: -42px;
  top: 120px;
  z-index: 9999;
  background: #6f879e;
  background: -webkit-linear-gradient(top, #6f879e 0%, #3d6d94 100%);
  background: -moz-linear-gradient(top, #6f879e 0%, #3d6d94 100%);
  background: -ms-linear-gradient(top, #6f879e 0%, #3d6d94 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6f879e), color-stop(100%, #3d6d94));
  background: -o-linear-gradient(top, #6f879e 0%, #3d6d94 100%);
  background: linear-gradient(to bottom, #6f879e 0%, #3d6d94 100%);
  -pie-background: linear-gradient(#6f879e, #3d6d94);
  behavior: url(../htc/pie.htc);
  zoom: 1;
  color: #FFF;
  padding-top: 7px;
}
.cartPage .track .trackImg .priceBox .price {
  height: auto;
  width: 100%;
  font-weight: 600;
  font-size: 2.25em;
}
.cartPage .track .trackImg .priceBox .price span {
  font-weight: 300;
  font-size: .6em;
}
.cartPage .track .trackImg .priceBox .aud {
  height: auto;
  width: 100%;
  text-transform: uppercase;
  font-size: 1em;
}
.cartPage .track .trackInfo {
  height: auto;
  width: 60%;
  float: left;
  padding-top: 40px;
}
.cartPage .track .trackInfo:after {
  content: " ";
  display: block;
  clear: both;
}
.cartPage .track .trackInfo .trackTags {
  font-size: .85em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.cartPage .track .trackInfo .trackTags span {
  float: left;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-right: 15px;
  color: #AAA;
}
.cartPage .track .trackInfo .trackTags span:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #333;
}
.cartPage .track .trackInfo .trackDuration {
  font-weight: 300;
  font-size: 1.1em;
  color: #666;
  margin-bottom: 10px;
}
.cartPage .track .trackInfo .trackDuration .trackBpm {
  font-weight: 300;
  margin-left: 15px;
  font-size: 1em;
  color: #999;
}
.cartPage .track .trackInfo .trackTitle {
  font-weight: bolder;
  font-weight: 700;
  font-size: 2.2em;
  color: #111;
  margin-bottom: 15px;
  margin-right: 20px;
}
.cartPage .track .trackInfo .trackDescription {
  padding-right: 100px;
  margin-bottom: 30px;
  line-height: 1.6em;
}
.cartPage .track .trackInfo .cta {
  float: left;
  margin-right: 20px;
}
.cartPage .track .trackInfo .trackQuantity {
  height: auto;
  width: 200px;
  position: relative;
}
.cartPage .track .trackInfo .trackQuantity:after {
  content: " ";
  display: block;
  clear: both;
}
.cartPage .track .trackInfo .trackQuantity p {
  font-weight: 600;
  font-size: 1em;
  text-align: center;
}
.cartPage .track .trackInfo .trackQuantity .add,
.cartPage .track .trackInfo .trackQuantity .remove {
  height: 28px;
  width: 28px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  behavior: url(../htc/pie.htc);
  zoom: 1;
  position: absolute;
  right: -58px;
  line-height: 22px;
  text-align: center;
  padding: 0;
}
.cartPage .track .trackInfo .trackQuantity .add {
  top: -10px;
}
.cartPage .track .trackInfo .trackQuantity .remove {
  bottom: -10px;
}
.cartPage .track .trackInfo .listening {
  background-color: #000;
  color: #FFF;
}
.cartPage .track .price {
  font-size: 1em;
}
.cartPage .track .aud {
  font-size: .7em;
}
.cartPage .divider {
  height: 3px;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.05);
  margin-top: 50px;
  margin-bottom: 50px;
}
.cartPage .divider:after {
  content: " ";
  display: block;
  clear: both;
}
.cartPage .checkout {
  height: auto;
  width: 500px;
  float: right;
}
.cartPage .checkout p {
  float: left;
  font-size: 1.2em;
  line-height: 50px;
}
.cartPage .checkout p span {
  font-weight: 600;
  font-size: 1.8em;
}
.cartPage .checkout .cta {
  float: left;
  margin-left: 40px;
}
.blogPage:after {
  content: " ";
  display: block;
  clear: both;
}
.blogPage .blog {
  position: relative;
}
.blogPage .blog:after {
  content: " ";
  display: block;
  clear: both;
}
.blogPage .blog .blogImg {
  height: 320px;
  width: 320px;
  float: left;
  position: relative;
  -webkit-box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.25);
  behavior: url(../htc/pie.htc);
  zoom: 1;
  margin-left: -40px;
  margin-right: 80px;
  overflow: hidden;
}
.blogPage .blog .blogImg img {
  height: auto;
  width: 100%;
}
.blogPage .blog .blogInfo {
  height: auto;
  width: 60%;
  float: left;
  padding-top: 40px;
}
.blogPage .blog .blogInfo:after {
  content: " ";
  display: block;
  clear: both;
}
.blogPage .blog .blogInfo .blogTags {
  font-size: .85em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.blogPage .blog .blogInfo .blogTags span {
  float: left;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-right: 15px;
  color: #AAA;
}
.blogPage .blog .blogInfo .blogTags span:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #333;
}
.blogPage .blog .blogInfo .blogTitle {
  font-weight: bolder;
  font-weight: 700;
  font-size: 2.2em;
  color: #111;
  margin-bottom: 15px;
  margin-right: 20px;
}
.blogPage .blog .blogInfo .blogDescription {
  padding-right: 20px;
  margin-bottom: 30px;
  line-height: 1.6em;
}
.blogPage .blog .blogInfo .cta {
  margin-right: 20px;
}
.blogPage .blog .blogInfo .listening {
  background-color: #000;
  color: #FFF;
}
.blogPage .blog .price {
  font-size: 1em;
}
.blogPage .blog .aud {
  font-size: .7em;
}
.blogPage .divider {
  height: 3px;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.05);
  margin-top: 50px;
  margin-bottom: 50px;
}
.blogPage .divider:after {
  content: " ";
  display: block;
  clear: both;
}
.postPage:after {
  content: " ";
  display: block;
  clear: both;
}
.postPage .greyBackground {
  padding-left: 10%;
  padding-right: 10%;
}
.postPage .blogPost {
  font-size: 1.2em;
  line-height: 1.6em;
}
.postPage .blogPost:after {
  content: " ";
  display: block;
  clear: both;
}
.postPage .blogPost .blogImg {
  height: 320px;
  width: 320px;
  float: left;
  position: relative;
  -webkit-box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.25);
  behavior: url(../htc/pie.htc);
  zoom: 1;
  margin-left: -300px;
  margin-right: 80px;
  overflow: hidden;
}
.postPage .blogPost p {
  height: auto;
  width: 80%;
  float: left;
  margin: 0 auto;
  margin-bottom: 15px;
}
.aboutPage .aboutText {
  margin-bottom: 100px;
}
.aboutPage .aboutPic {
  height: 300px;
  width: 400px;
  -webkit-box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.25);
  behavior: url(../htc/pie.htc);
  zoom: 1;
  float: left;
  position: relative;
  left: -40px;
  background-color: #CCC;
  overflow: hidden;
}
.aboutPage .aboutPic img {
  height: 100%;
}
.aboutPage .aboutText1 {
  height: auto;
  width: 57%;
  float: right;
  padding-right: 5%;
  font-size: 1.5em;
  line-height: 1.13em;
}
.aboutPage .aboutText1 p {
  margin-bottom: 20px;
}
.aboutPage .dj {
  height: auto;
  width: 100%;
}
.aboutPage .dj:after {
  content: " ";
  display: block;
  clear: both;
}
.aboutPage .dj .aboutText1 {
  float: left;
  padding-left: 5%;
}
.aboutPage .dj .aboutText1 .djName {
  font-weight: bolder;
  font-weight: 700;
  font-size: 1.15em;
  color: #111;
}
.aboutPage .dj .djPic {
  height: 300px;
  width: 400px;
  -webkit-box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.25);
  behavior: url(../htc/pie.htc);
  zoom: 1;
  float: right;
  position: relative;
  right: -40px;
  background-color: #CCC;
  overflow: hidden;
}
.aboutPage .leftDj {
  margin-top: 100px;
}
.aboutPage .leftDj .aboutText1 {
  padding-left: 0;
  padding-right: 10%;
  float: right;
}
.aboutPage .leftDj .djPic {
  float: left;
  left: -40px;
}
.contactPage .contact {
  height: auto;
  width: 80%;
  margin: 0 auto;
}
.contactPage .contact:after {
  content: " ";
  display: block;
  clear: both;
}
.contactPage .contact .inputContainer {
  height: auto;
  width: 80%;
  position: relative;
  margin: 0 auto;
  margin-bottom: 40px;
}
.contactPage .contact .inputContainer:after {
  content: " ";
  display: block;
  clear: both;
}
.contactPage .contact .inputContainer .contactLabel {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 2em;
  color: #C3C3C3;
}
.contactPage .contact .inputContainer .contactInput {
  height: 50px;
  width: 100%;
  font-weight: 300;
  color: #111;
  font-size: 2em;
  line-height: 2em;
  border: none;
  resize: none;
  background: transparent;
  border-bottom: 3px solid rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0px 22px 30px -19px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 22px 30px -19px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 22px 30px -19px rgba(0, 0, 0, 0.07);
  behavior: url(../htc/pie.htc);
  zoom: 1;
}
.contactPage .contact .inputContainer .contactInput:focus {
  -webkit-box-shadow: 0px 22px 35px -19px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 22px 35px -19px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 22px 35px -19px rgba(0, 0, 0, 0.25);
  behavior: url(../htc/pie.htc);
  zoom: 1;
}
.contactPage .contact .inputContainer .contactTextarea {
  height: 160px;
  width: 100%;
}
.contactPage .contact .inputContainer .error {
  background: transparent;
  border-bottom: 3px solid #BF3838;
  -webkit-box-shadow: 0px 22px 30px -19px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 22px 30px -19px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 22px 30px -19px rgba(0, 0, 0, 0.35);
  behavior: url(../htc/pie.htc);
  zoom: 1;
}
.contactPage .contact .contactSubmit {
  float: right;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-weight: 300;
  margin-right: 9%;
  font-size: 2em;
  background: none;
  border: none;
  color: #AAA;
  cursor: pointer;
}
.contactPage .contact .contactSubmit:hover,
.contactPage .contact .contactSubmit:active {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #111;
}
.termsConditions:after {
  content: " ";
  display: block;
  clear: both;
}
.termsConditions .termsText {
  height: auto;
  width: 75%;
  margin: 0 auto;
}
.termsConditions .termsText p {
  font-size: 1.15em;
  margin-bottom: 20px;
  line-height: 1.6em;
}
.homeTracks {
  height: 1500px;
  width: 100%;
  background: #6f879e;
  background: -webkit-linear-gradient(top, #6f879e 0%, #bfcfdc 100%);
  background: -moz-linear-gradient(top, #6f879e 0%, #bfcfdc 100%);
  background: -ms-linear-gradient(top, #6f879e 0%, #bfcfdc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6f879e), color-stop(100%, #bfcfdc));
  background: -o-linear-gradient(top, #6f879e 0%, #bfcfdc 100%);
  background: linear-gradient(to bottom, #6f879e 0%, #bfcfdc 100%);
  -pie-background: linear-gradient(#6f879e, #bfcfdc);
  behavior: url(../htc/pie.htc);
  zoom: 1;
  margin-top: -320px;
  z-index: 1;
  padding-top: 420px;
  overflow-x: hidden;
}
.homeTracks .listOfTracks {
  height: auto;
  width: 100%;
  position: relative;
  overflow: auto;
  height: 550px;
  margin-top: 100px;
}
.homeTracks .listOfTracks:after {
  content: " ";
  display: block;
  clear: both;
}
.homeTracks .listOfTracks:first-child {
  margin-left: 300px !important;
}
.homeTracks .listOfTracks .homeTrack {
  height: 420px;
  width: 420px;
  -webkit-box-shadow: 0px 8px 25px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 8px 25px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 25px 5px rgba(0, 0, 0, 0.2);
  behavior: url(../htc/pie.htc);
  zoom: 1;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  float: left;
  overflow: hidden;
  background-color: #000;
  margin-right: 80px;
}
.homeTracks .listOfTracks .homeTrack .trackBox {
  height: 100%;
  width: 100%;
  position: relative;
}
.homeTracks .listOfTracks .homeTrack .trackBox .trackInfo {
  height: auto;
  width: 100%;
  position: absolute;
  font-weight: 600;
  z-index: 90;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  bottom: 0;
  color: #FFF;
}
.homeTracks .listOfTracks .homeTrack .trackBox .trackInfo:after {
  content: " ";
  display: block;
  clear: both;
}
.homeTracks .listOfTracks .homeTrack .trackBox .trackInfo .trackTags {
  font-size: .9em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.homeTracks .listOfTracks .homeTrack .trackBox .trackInfo .trackTitle {
  font-size: 1.9em;
  margin-top: 12px;
  margin-bottom: 12px;
}
.homeTracks .listOfTracks .homeTrack .trackBox .trackInfo .trackDescription {
  font-weight: 300;
  line-height: 1.5em;
  font-size: .9em;
  margin-bottom: 30px;
}
.homeTracks .listOfTracks .homeTrack .trackBox .trackInfo .listen {
  margin-right: 15px;
}
.homeTracks .listOfTracks .homeTrack .trackBox .trackImg {
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: relative;
  -webkit-opacity: 0.9;
  -khtml-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
  filter: alpha(opacity=90);
  z-index: 1;
}
.homeTracks .listOfTracks .homeTrack .trackBox .trackImg img {
  height: 100%;
  width: 100%;
}
.homeTracks .listOfTracks .homeTrack .trackBox:hover,
.homeTracks .listOfTracks .homeTrack .trackBox:active {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-box-shadow: 0px 25px 45px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 25px 45px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 25px 45px 5px rgba(0, 0, 0, 0.5);
  behavior: url(../htc/pie.htc);
  zoom: 1;
}
.homeTracks .listOfTracks .homeTrack .trackBox:hover .trackImg,
.homeTracks .listOfTracks .homeTrack .trackBox:active .trackImg {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-opacity: 0.75;
  -khtml-opacity: 0.75;
  -moz-opacity: 0.75;
  opacity: 0.75;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
  filter: alpha(opacity=75);
}
.sereneBackground {
  height: 800px;
  width: 100%;
  background: #6f879e;
  background: -webkit-linear-gradient(top, #6f879e 0%, #bfcfdc 100%);
  background: -moz-linear-gradient(top, #6f879e 0%, #bfcfdc 100%);
  background: -ms-linear-gradient(top, #6f879e 0%, #bfcfdc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6f879e), color-stop(100%, #bfcfdc));
  background: -o-linear-gradient(top, #6f879e 0%, #bfcfdc 100%);
  background: linear-gradient(to bottom, #6f879e 0%, #bfcfdc 100%);
  -pie-background: linear-gradient(#6f879e, #bfcfdc);
  behavior: url(../htc/pie.htc);
  zoom: 1;
  margin-top: -350px;
}
.featuredBlog {
  position: relative;
  margin-top: -250px;
  margin-bottom: 150px;
  z-index: 99;
  padding-top: 105px;
}
.featuredBlog:after {
  content: " ";
  display: block;
  clear: both;
}
.featuredBlog .postImg {
  height: 400px;
  width: 600px;
  float: left;
  -webkit-box-shadow: 0px 8px 25px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 8px 25px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 25px 5px rgba(0, 0, 0, 0.2);
  behavior: url(../htc/pie.htc);
  zoom: 1;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: relative;
  overflow: hidden;
  background-color: #000;
}
.featuredBlog .postImg img {
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 9;
}
.featuredBlog .postImg .cta {
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  left: 50%;
  margin-left: -15%;
  bottom: 0px;
  z-index: 999;
}
.featuredBlog .postImg:hover,
.featuredBlog .postImg:active {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-box-shadow: 0px 25px 45px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 25px 45px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 25px 45px 5px rgba(0, 0, 0, 0.5);
  behavior: url(../htc/pie.htc);
  zoom: 1;
}
.featuredBlog .postImg:hover img,
.featuredBlog .postImg:active img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-opacity: 0.45;
  -khtml-opacity: 0.45;
  -moz-opacity: 0.45;
  opacity: 0.45;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=45);
  filter: alpha(opacity=45);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.featuredBlog .postImg:hover .cta,
.featuredBlog .postImg:active .cta {
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  bottom: 150px;
}
.featuredBlog .sectionTitle {
  width: 200px;
  position: absolute;
  top: 40px;
  right: 120px;
}
.featuredBlog .postInfo {
  height: auto;
  width: 330px;
  float: left;
  margin-top: 120px;
  margin-left: 50px;
  color: #FFF;
}
.featuredBlog .postInfo .postDate {
  font-size: .8em;
}
.featuredBlog .postInfo .postTitle {
  font-weight: 600;
  font-size: 2em;
  margin-top: 12px;
  margin-bottom: 12px;
}
.featuredBlog .postInfo .postDescription {
  font-size: 1em;
}
.featuredBlog .allposts {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #FFF;
  padding: 5px 10px;
  bottom: 10px;
  right: 10px;
  font-size: 1.1em;
}
.featuredBlog .allposts:hover,
.featuredBlog .allposts:active {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #232e33;
}
.internalPage {
  height: auto;
  width: 100%;
  position: relative;
  z-index: 2;
}
.internalPage:after {
  content: " ";
  display: block;
  clear: both;
}
.internalPage .greyBackground {
  width: 90%;
  height: auto;
  position: relative;
  margin-bottom: 40px;
  min-height: 500px;
  padding-top: 30px;
  padding-bottom: 80px;
}
.internalPage .greyBackground:after {
  content: " ";
  display: block;
  clear: both;
}
.internalPage .sectionTitle {
  height: auto;
  width: 100%;
  text-align: center;
  margin-bottom: 70px;
}
.internalPage .sectionTitle .titleh1 {
  font-weight: bolder;
  font-weight: 700;
  color: #000;
  font-size: 3em;
  letter-spacing: 2px;
}
.internalPage .sectionTitle .line {
  height: 5px;
  width: 80px;
  background-color: #000;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
.internalPage .sectionTitle .sectionText {
  font-weight: 300;
  width: 60%;
  margin: 0 auto;
  font-size: 1.1em;
  line-height: 1.6em;
  color: #000;
}
@media only screen and (max-width: 1100px) {
  .header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header .leftNav {
    height: auto !important;
    width: 250px !important;
  }
  .header .leftNav .slogan {
    display: none;
  }
  .freeTrack {
    text-align: center;
  }
  .freeTrack .sectionTitle {
    margin: 0 auto;
    float: none;
  }
  .freeTrack .sectionTitle .line {
    margin: 0 auto;
    margin-top: 23px;
    margin-bottom: 23px;
  }
  .freeTrack .inputHome {
    margin: 0 auto;
    float: none;
    margin-top: 40px;
  }
  .darkBlueBackground {
    height: 410px;
  }
  .featuredBlog {
    padding-top: 50px;
  }
  .featuredBlog .postImg {
    height: 270px;
    width: 360px;
    margin-left: 40px;
  }
}
@media only screen and (max-width: 1001px) {
  .musicPage .track .trackImg {
    height: 250px;
    width: 250px;
  }
  .blogPage .blog .blogInfo {
    height: auto;
    width: 55%;
  }
}
@media only screen and (max-width: 900px) {
  .mainNav .openToggle {
    visibility: visible !important;
  }
  nav.open .openToggle {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    top: 15px;
  }
  .rightNav {
    visibility: hidden;
  }
  nav.open .rightNav {
    height: auto !important;
    width: 100% !important;
    position: absolute;
    left: 0;
    top: 70px;
    min-height: 300px;
    z-index: 9999999999;
    visibility: hidden;
  }
  nav.open .rightNav ul {
    height: auto;
    width: 100%;
  }
  nav.open .rightNav li {
    z-index: 999999;
    height: 100px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #F9F9F9;
    text-align: center;
  }
  nav.open .rightNav li a {
    height: 100%;
    width: 100%;
    text-align: center;
  }
  nav.open .rightNav {
    visibility: visible;
  }
  .musicPage .track .trackImg {
    height: 250px;
    width: 450px;
    float: none;
    margin: 0 auto;
  }
  .musicPage .track .trackInfo {
    height: auto;
    width: 80%;
    float: none;
    margin: 0 auto;
    text-align: center;
  }
  .musicPage .track .trackInfo .trackTags {
    display: inline-block;
    vertical-align: top;
  }
  .musicPage .track .trackInfo .trackDescription {
    padding-right: 0px;
  }
  .musicPage .track .trackInfo .cta {
    float: left;
    margin-right: 20px;
  }
  .musicPage .track .trackInfo .play {
    margin-left: 20%;
  }
  .musicPage .track .trackInfo .trackQuantity {
    height: auto;
    width: 200px;
    position: relative;
  }
  .musicPage .track .trackInfo .trackQuantity:after {
    content: " ";
    display: block;
    clear: both;
  }
  .musicPage .track .trackInfo .trackQuantity p {
    font-weight: 600;
    font-size: 1em;
    text-align: center;
  }
  .musicPage .track .trackInfo .trackQuantity .add,
  .musicPage .track .trackInfo .trackQuantity .remove {
    height: 28px;
    width: 28px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    behavior: url(../htc/pie.htc);
    zoom: 1;
    position: absolute;
    right: -58px;
    line-height: 22px;
    text-align: center;
    padding: 0;
  }
  .musicPage .track .trackInfo .trackQuantity .add {
    top: -10px;
  }
  .musicPage .track .trackInfo .trackQuantity .remove {
    bottom: -10px;
  }
  .musicPage .track .trackInfo .listening {
    background-color: #000;
    color: #FFF;
  }
  .aboutPage .aboutText {
    margin-bottom: 100px;
  }
  .aboutPage .aboutPic {
    height: 220px;
    width: 350px;
    margin: 0 auto;
    float: none;
    left: 0;
    margin-bottom: 40px;
  }
  .aboutPage .aboutText1 {
    height: auto;
    width: 75%;
    margin: 0 auto;
    float: none;
  }
  .aboutPage .dj {
    height: auto;
    width: 90%;
    margin: 0 auto;
  }
  .aboutPage .dj:after {
    content: " ";
    display: block;
    clear: both;
  }
  .aboutPage .dj .aboutText1 {
    float: none;
    padding-left: 0;
  }
  .aboutPage .dj .aboutText1 .djName {
    text-align: center;
  }
  .aboutPage .dj .djPic {
    height: 300px;
    width: 400px;
    -webkit-box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.25);
    behavior: url(../htc/pie.htc);
    zoom: 1;
    float: none;
    right: 0;
    margin: 0 auto;
    position: relative;
    background-color: #CCC;
    overflow: hidden;
  }
  .aboutPage .leftDj {
    margin-top: 100px;
  }
  .aboutPage .leftDj .aboutText1 {
    padding-left: 0;
    padding-right: 10%;
    float: right;
  }
  .aboutPage .leftDj .djPic {
    float: none;
    left: 0px;
  }
  .darkBlueBackground {
    min-height: 550px;
    max-height: 630px;
  }
  .internalPage .sectionTitle .sectionText {
    height: auto;
    width: 90%;
  }
  .featuredBlog {
    padding-top: 50px;
  }
  .featuredBlog .postImg {
    float: none;
    height: 250px;
    width: 400px;
    margin: 0 auto;
  }
  .featuredBlog .postInfo {
    height: auto;
    width: 70%;
    float: none;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
  }
  .featuredBlog .allposts {
    height: 50px;
    width: 30%;
    position: absolute;
    color: #FFF;
    padding: 5px 10px;
    margin: 0 auto;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    behavior: url(../htc/pie.htc);
    zoom: 1;
    background-color: rgba(0, 0, 0, 0.2);
    line-height: 40px;
  }
  .blogPage .blog {
    margin-bottom: 75px;
  }
  .blogPage .blog .blogTags {
    height: auto;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .blogPage .blog .blogTags span {
    display: list-item;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    float: none;
  }
  .blogPage .blog .blogImg {
    position: relative;
    float: none;
    margin: 0 auto;
  }
  .blogPage .blog .blogInfo {
    height: auto;
    width: 80%;
    float: none;
    margin: 0 auto;
    text-align: center !important;
  }
  .footer {
    height: 90px;
    width: 100%;
    padding-bottom: 20px;
  }
  .footer:after {
    content: " ";
    display: block;
    clear: both;
  }
  .footer .logo {
    height: auto;
    width: 100%;
    float: none !important;
  }
  .footer .logo .mfp {
    text-align: center;
  }
  .footer .logo .slogan {
    text-align: center;
  }
  .footer .socialMedia {
    height: auto;
    width: 120px;
    position: relative;
    margin: 0 auto;
    display: list-item;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .footer .socialMedia:after {
    content: " ";
    display: block;
    clear: both;
  }
  .footer .socialMedia .socialBtn {
    height: 30px;
    width: 30px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .footer .socialMedia .facebook {
    background-image: url(../assets/svg/social-media-facebook.svg);
  }
  .footer .socialMedia .linkedin {
    background-image: url(../assets/svg/social-media-linkedin.svg);
  }
  .footer .socialMedia .twitter {
    margin-right: 0;
    background-image: url(../assets/svg/social-media-twitter.svg);
  }
  .footer .copyright {
    height: auto;
    width: 100%;
    text-align: center;
    float: none;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 620px) {
  .musicPage .track .trackInfo .play {
    margin-left: 10%;
  }
}
@media only screen and (max-width: 550px) {
  .musicPage .track .trackInfo .play {
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
    margin-bottom: 10px;
  }
  .musicPage .track .trackInfo .cta {
    display: inline-block;
    vertical-align: top;
    float: none;
    margin-bottom: 25px;
  }
}
