body {
  font-size: 15px;
}
body,
a,
li,
ul,
header,
footer,
article,
div,
nav,
h1,
h2,
p {
  margin: 0;
  list-style: none;
  padding: 0;
  color: inherit;
  text-decoration: none;
  font-family: 'Heebo', sans-serif;
}
